@import url('https://fonts.googleapis.com/css?family=Montserrat');

body, html {
  margin: 0 auto;
  font-family: 'Montserrat', sans-serif;
  background: #f8f8f8;
}
ul {
  padding: 0;
  margin: 0;
}
h2 {
  font-size: 1.2em;
}
dl {
  margin-left: 1.5em;
  margin-top: 0;
}
nav li, footer li {
  list-style: none;
  display: inline-block;
  margin: 2em 4em;
  margin-bottom: 0em;
}
h1, .enlarge {
  font-size: 1.4em;
}
.heading {
  font-size: 1.2em;
}
#lucy-sabin {
  height: 4em;
  margin-top: -1em;
}
.intro-text {
  background-color: white;
  width: 90%;
  margin: 4em auto;
  padding: 2em 0;
  text-align: center;
}
.portfolio-wrapper, .about-wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0em;
  margin-bottom: 3em;
}
nav, footer {
  height: auto;
  background: white;
  width: 100%;
  z-index: 1;
}
nav {
  top: 0;
}
footer {
  bottom: 0;
  padding-bottom: 1em;
}
#copyright {
  color: silver;
}
a {
  color: turquoise;
}
.nav-option, .footer-email {
  float: right;
}
.footer-email {
  font-size: 1.2em;
  color: red;
  margin: 1em 3em;
  text-decoration: underline;
}
.portfolio-piece {
  width: 100%;
  height: auto;
}
/*about-specific styles */
.about-main-text {
  width: 60%;
  max-width: 960px;
  margin: 3em;
}
.about-drawing {
  width: 100%;
  height: auto;
}
.my-approach-list, .links-list {
  list-style-position: inside;
  text-indent: each-line;
}

/*project page styles*/
.project-wrapper {
  width: 60%;
  max-width: 960px;
  margin: 4em auto;
}
.project-img {
  width: 100%;
  height: auto;
}

.cv-pic {
  width: 100%;
  height: auto;
}

.nourish-mobile {
  width: 50%;
  margin: auto;
}

#down-arrow {
  height: 1em;
}
/* image overlay styles */
.overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  opacity: 0;
  transition: .5s ease;
  background-color: lavender;
}
.portfolio-cover {
  width: 30%;
}
@media (max-width: 768px) {
  .overlay {
    opacity: .7;
  }
}
.container-fade {
  position: relative;
}
.container-fade:hover .overlay {
  opacity: .9;
}
.text {
  color: black;
  font-size: 1.5em;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 80%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

@media (max-width: 768px) {
  .intro-text {
    text-align: left;
    margin: 2em auto;
    width: 90%;
    padding: .5em;
  }
  nav {
    position: relative;
    margin-bottom: 2em;
  }
  .under-nav {
    height: 0;
  }
  ul {
    margin: 0;
    height: auto;
    display: block;
  }
  .portfolio-cover {
    width: 100%;
    margin: 1em;
  }
  .text {
    font-size: 1em;
  }
  .overlay {
    height: 3em;
    opacity: 1;
    background-color: white;
    position: relative;
  }
  .footer-email {
    font-size: 1em;
  }
  .nourish-mobile {
    width: 100%;
  }
  nav li {
    margin: 0em;
    display: inline-block;
    margin: .5em;
  }
  nav ul {
    text-align: center;
  }
  #lucy-sabin {
    width: 100%;
    height: auto;
  }
  .nav-option {
    float: none;
  }
  .portfolio-wrapper, .portfolio-piece, .about-wrapper {
    margin: 0;
  }
  .project-wrapper {
    width: 90%;
  }
  .about-main-text {
    width: 100%;
    margin: 2em 1em;
  }
}

.contact {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 80vh;
}

.contact__para {
  line-height: 1.5em;
  font-size: 1.2em;
  text-align: center;
}

.contact__para, .form {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  width: 85%;
  max-width: 800px;
  margin: 0 auto;
}

.form {
  margin-top: 3em;
}

.form__btn {
  font-size: 1.2em;
}

.form__input--name, .form__input--email, .form__input--message {
  font-size: 1em;
  line-height: 2em;
  margin: 1em auto;
  width: 100%;
}

.contact__button, .form__btn {
  text-align: center;
  background-color: coral;
  width: 30%;
  margin: 0 auto;
  max-width: 20em;
  padding: 1em 0em 1em 0em;
  margin: 2em auto;
  color: white;
}

.contact__button a {
  text-decoration: none;
  color: white;
}

.contact__link {
  color: coral;
}

@media (max-width: 768px) {
  .contact__para {
    text-align: left;
  }
  .form__btn {
    padding: .5em 0em;
    margin-top: 1em;
  }
}

.img-panel {
  width: 100%;
}
.img-panel img {
  width: 30%;
}

@media (max-width: 768px) {
  .img-panel img {
    width: 100%;
  }
}

.back-top {
  text-align: center;
}
